img {
  border-radius: 50%;
  width: 180px;
  align-items: center;
  margin-top:70px;
  margin-top: 2rem;
}

.name {
  margin-top:-30px;
}

.name2 {
    margin-top:-50px;
}

h1 {
  margin-top:-100px;
  -webkit-text-stroke: 0px navy;
  color: #CCD6F6;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.neon{
  border-color: #64FFDA;
  color: #64FFDA;
}

.tag {
  color: #8892B0;
}

.myname {
   font-size: 3.9rem;
   margin-top: 2.1rem;
}
