img {
  border-radius: 50%;
  width: 150px;
  align-items: center;
  margin-top:70px;
}

.name {
  margin-top:-50px;

  }

.a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b {
  margin: auto;
  width: 50%;
}

h3 {
  margin-top:-25px;
  }
